{% if session.username %}
    <h2>Welcome {{ session.username }}!</h2>
    Notes in total: {{ count}}<br>
    <label for="search">Search:</label>
    <input type="search" id="search" name="search" placeholder="Search...">


    <hr>
    {% for title in titles %}
    {{ title.title }}
    <hr>

    {% endfor %}
    <form action="/newnote" method="POST">
        <input type="submit" value="Add new note">
    <br>
    <br>
    <a href="/logout">
        <button>Logout</button>
    </a>

{% else %}
    <form action="/login" method="POST">
        <p>Username:<br>
        <input type="text" name="username"></p>
        <p>Password:<br>
        <input type="password" name="password"></p>
        <input type="submit" value="Login"><br>
    </form>
    <a href="/createuser">
        <button>Create User</button>
    </a>
{% endif %}
